<div class="col">
	<div class="card bg-{{color}} text-white text-center">
		<div class="card-body">
			<i class="{{icone}} fa-3x"></i>
			<p class="card-text mt-2">{{text}}</p>
		</div>
	</div>
</div>
